/* app header */

#header p#account-navigation { color: #ccc; }

#account-navigation span, #account-navigation a { margin: 0 10px; }
    #account-navigation .balance { color: #6c6b65; }
    #account-navigation a:last-child { margin-right: 0; }
    
/* app main */

#app #large-form, #app #dashboard {
    margin-top: 50px;
}

#app #large-form input, #app textarea { width: 706px; margin-right: 0; }

#app #large-form button, #link #large-form button { margin-left: 170px; padding: 11px 15px 12px; }
#add-link-button { float: right; margin-bottom: 0; }
#delete_link { float: right; }
#dashboard.links-page h3 { padding-top: 10px; margin-bottom: 5px; }

#loading-indicator {
    background: rgba(0, 0, 0, .1); text-align: center; padding: 12px 20px 10px; font-weight: bold; color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, .4); width: 100px; left: 50%;
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin-left: -90px;
    position: absolute; z-index: 999;
    bottom: 0;
    
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    display: none;
}

#large-form .mini-rule, #dashboard .mini-rule { margin-top: 30px; clear: both; }

#links { padding: 8px 0 0; }

    #links li {
        color: #454545;
        margin-top: 12px;
    } #links li a { color: #252a2d; font-size: 18px; line-height: 27px; }

    #links li small { color: #80878d; font-size: 16px; margin-left: 10px; }

/* editing link */

#share-box {
    clear: both;
    margin: 50px 0;
    font-size: 16px; line-height: 24px;
    background: rgba(0, 0, 0, .1);
    padding: 30px 30px 20px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .05), 0 0 9px rgba(0, 0, 0, .1);
}

    #share-box p { display: inline-block; margin: 0 auto; padding: 0 0 0 30px; width: 440px; }
        #share-box p input { width: 416px; border: 1px solid #ccc; text-align: center; background: #fff; }
    #link_to_share:hover { cursor: pointer; border: 1px solid #bbb; }

    .facebook.button {
        float: left;
    
        background: #6e8ccb;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88a6e5', endColorstr='#5f7dbc'); 
        background: -webkit-gradient(linear, left top, left bottom, from(#88a6e5), to(#5f7dbc)); 
        background: -moz-linear-gradient(top,  #88a6e5,  #5f7dbc); 
        background: -o-linear-gradient(top,  #88a6e5,  #5f7dbc); 
        border: 1px solid #5371b0;
    }
    
    .facebook.button:hover { box-shadow: inset 0 0 2px rgba(255, 255, 255, .2), 0 1px 1px rgba(0, 0, 0, .4), 0 0 5px #6e8ccb; }
    
    .twitter.button {
        float: right;

        background: #28add9;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4bd0fc', endColorstr='#199eca'); 
        background: -webkit-gradient(linear, left top, left bottom, from(#4bd0fc), to(#199eca)); 
        background: -moz-linear-gradient(top,  #4bd0fc,  #199eca); 
        background: -o-linear-gradient(top,  #4bd0fc,  #199eca); 
        border: 1px solid #0d92be;
    }
    
    .twitter.button:hover { box-shadow: inset 0 0 2px rgba(255, 255, 255, .2), 0 1px 1px rgba(0, 0, 0, .4), 0 0 5px #28add9; }

    #container, #preview_container { float: right; position: relative; text-align: right; top: -30px; right: 20px; z-index: 2; }
        #container a, #preview_container a { color: #aaa; }
        #container a:hover, #preview_container a:hover { text-decoration: underline; }

#analytics-box { text-align: center; margin: 20px auto 0; height: 28px; }
    #analytics-box p { width: 100%; padding: 0; }
    #analytics-box img { position: relative; top: 5px; }
#app #large-form.editing-link { margin-top: 30px; }

/* buying link */

#link #wrapper { width: 600px; }

#link #link-content { width: 100%; padding: 30px 0; }

#link #header { padding-bottom: 30px; }
    #link #preview_link { float: right; }
    #link #header h1 { margin: 0; }
    #link #header p { margin-top: 8px; color: #797874; }
    #link #header p strong { color: #252a2d; }

#description-box {
    clear: both;
    margin: 0 0 30px;
    font-size: 16px; line-height: 24px;
    background: rgba(0, 0, 0, .1);
    padding: 20px 30px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .05), 0 0 9px rgba(0, 0, 0, .1);
} #description-box p:last-child { margin: 0; }

input[type=text]#card_security_code { width: 108px; }

/* import for flickr + youtube etc. */

#import-grid {
    color: #797874;
    font-size: 16px; line-height: 24px;
    margin: 30px 0 0;
    position: relative; left: -15px;
}

#import-grid ul { overflow: hidden; width: 990px; }

#import-grid li {
    float: left; width: 300px;
    margin: 0 15px 30px;
}

    #import-grid li img { width: 100%; }

    #import-grid li h4 {
        font-size: 15px;
        display: inline-block;
        color: #343434;
        margin: 8px 5px 8px 0;
    }
    
    #import-grid li p {
        display: inline-block;
        padding-right: 20px;
        font-size: 13px; line-height: 23px;
    }
    
    #import-grid li p a {
        color: #343434;
    }





