/* header */

#header { padding: 34px 0 20px; overflow: hidden; }

/* navigation */

#navigation {
    display: block;
    float: right;
    margin: 9px 20px 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

    #navigation li {
        list-style: none;
        float: left;
    }    
    
        #navigation li:first-child a {
            -webkit-border-top-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-bottomleft: 4px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        
        #navigation li:last-child a {
            -webkit-border-top-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            -moz-border-radius-bottomright: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-right-width: 1px;
        }
    
        #navigation li a {
            -webkit-transition: box-shadow .03s linear;
            
            display: block;

            padding: 10px 15px;
            background: #f5f5f5;
            color: #272727;
            text-shadow: 0 1px 0 #fff;
            box-shadow: inset 0 1px 0 #fbfbfb;
            text-decoration: none;
            font-weight: bold;
            font-size: 15px;
            border: 1px solid #c0c0c0;
            border-right-width: 0;
            
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e8e8e8'); 
            background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e8e8e8)); 
            background: -moz-linear-gradient(top,  #f8f8f8,  #e8e8e8); 
            background: -o-linear-gradient(top,  #f8f8f8,  #e8e8e8); 
        }
        
        #navigation li a:hover {
            box-shadow: none;
            background: #eee;
            color: #222;
        }
        
        #navigation li a:active {
            color: #000;
            box-shadow: inset 0 2px 5px rgba(0, 0, 0, .2);
        }
        
        #header p {
            font-size: 16px;
            float: right;
            margin: 20px 0 0 10px;
            color: #999;
        }

#index #large-form { padding-right: 0; }

/* index intro */

#intro {
    padding: 20px 0;
}

    #video {
        display: none;
        float: left;
        background: #000;
        width: 410px; height: 259px;
    }
    
    #intro-text {
        width: 524px;
        position: relative; top: -5px;
        float: left;
        margin-bottom: 25px;
    }

    #intro h2 {
        color: #c04355;
        font-weight: lighter;
        font-size: 30px; line-height: 36px;
        margin-bottom: 16px;
    }
    
    #intro #description {
        color: #454545;
        font-size: 16px; line-height: 24px;
    }

    #intro ul {
        margin: 0 0 10px;
        float: right;
        width: 410px;
    }
    
    #intro li {
        padding: 0 20px 16px 40px;
        font-size: 13px;
    } #intro li p { font-size: 12px; line-height: 18px; color: #a4a39e; }
    
        #intro li h5 { font-weight: bold; }
    
        #we-handle-payments {
            background: url(../images/cc_icon.png) no-repeat 0 5px;
        }

        #worldwide {
            background: url(../images/map_icon.png) no-repeat 0 5px;
        }
    
    #intro h5 {
        color: #252a2d;
    }

/* index features */

#index .section {
    clear: both;
    margin: 5px 0 20px;
    padding: 20px 0;
    min-height: 290px;
}

    #index .section h3 {
        text-align: center;
        width: 250px;
        font-size: 24px;
        color: #252a2e;
        display: block;
        margin: 0 auto;
        background: #fdfbf1;
    }

    .items { margin-top: 20px; }

    .items li {
        float: left;
        width: 23%;
        margin-right: 26px;
    }
    
    .items li:last-child { margin-right: 0; }

    .items img {
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
        background: #fff;
    }
    
    .items h4 {
        font-size: 15px;
        color: #343434;
        margin: 20px 0 8px;
    }
    
    .items p {
        padding-right: 20px;
        font-size: 13px; line-height: 23px;
    }
    
    .items p a {
        color: #343434;
    }
    
#press {
    margin: 20px 0 60px;
}

    .testimonial {
        padding: 20px 50px;
        margin-bottom: 30px;
        border-radius: 4px;
        border: 1px solid #e3e2db;
        position: relative;
    }
    
    #press blockquote {
        text-align: center;
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 18px; line-height: 27px;
        font-style: italic;
        color: #44433e;
    }
    
    .writer { 
        display: block;
        text-align: center;
        margin-top: 10px;
        color: #aaaaaa;
    }
    
    #testimonial-arrow-border {
        border-color: #fdfbf1 transparent transparent transparent;
        border-style: solid;
        border-width: 10px;
        height: 0; width: 0;
        position: absolute;
        bottom: -19px; z-index: 2;
        margin-left: 30px;
    }
    
    #testimonial-arrow {
        border-color: #e3e2db transparent transparent transparent;
        border-style: solid;
        border-width: 10px;
        height: 0; width: 0;
        position: absolute;
        margin-left: 30px; bottom: -21px;
    }
    
    #publications { overflow: hidden; }
    #publications li {
        display: block;
        background: #000;
        float: left;
        width: 20%; height: 100px;
    }
    
/* login */

#login #large-form {
    margin-top: 50px;
}

#below-form-p {
    color: #797874;
    font-size: 16px; line-height: 24px;
    margin: 30px 0;
    text-align: center;
}
    
/* static content */

#main-content {
    padding: 30px 0;
    width: 62%;
}

    #main-content h3 {
        color: #c04355;
        font-weight: lighter;
        font-size: 30px; line-height: 36px;
        margin-bottom: 24px;
    }

    #main-content .mini-rule { margin-bottom: 24px; }

    #main-content a, #below-form-p a { color: #252a2d; text-decoration: underline; }
        #main-content a:hover, #below-form-p a:hover { text-decoration: none; }

    #main-content h4 {
        color: #252a2d;
        font-weight: bold;
        font-size: 18px; line-height: 27px;
        margin-bottom: 12px;
    }
    
    #main-content p {
        color: #454545;
        font-size: 16px; line-height: 24px;
        margin-bottom: 24px;
    }
    
    /* four-oh-four */
    
    #fourohfour #main-content { margin: 0 auto; padding-top: 100px; }
    #fourohfour #main-content h3 { font-size: 100px; line-height: 100px; }
    #fourohfour #main-content a { float: right; }