.tipsy {
    z-index: 999999; position: absolute; padding: 5px;
    font-size: 12px;
    background: url(../images/tipsy.png) no-repeat;
}

.tipsy-inner {
    padding: 5px 8px 4px 9px;
    background: #fef6d1; color: #877f5b;

    box-shadow: inset 0 2px 4px rgba(255, 255, 255, .4), 0 1px 0 rgba(0, 0, 0, .05);

    text-align: center;
    text-shadow: 0 1px 0 white;

    border: 1px solid #efdc84;

    border-radius: 4px;
    position: relative;
}
  
  .tipsy-n { background-position: top center; }
  .tipsy-s { background-position: bottom center; }
  .tipsy-e { background-position: right center; }
  .tipsy-w { background-position: left center; }
  
  .tipsy-arrow { width: 1px; height: 9px; background: #fef6d1; position: absolute; top: 50%; margin-top: -4px; }