<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% include "includes/head.html" %}
<body{% if body_id %} id="{{ body_id }}"{% endif %}>
	
<div id="wrapper">
	<div id="header-bar">
		<div id="one"></div>
		<div id="two"></div>
		<div id="three"></div>
		<div id="four"></div>
		<div id="five"></div>
	</div>
	
	<div id="header-wrapper">	
	<div id="header">
		<div id="logo-space">
			<a href="/" id="logo"><h1>Gumroad</h1></a>
			<h2 class="slogan">Sell like you share.</h2>
		</div>
		<ul>
			{% if show_login_link %}
			<li>Have an account? <a href="/login">Login!</a></li>
			{% else %}
			{% if logged_in %}
			<li><a href="/account">Account</a> <span class="light" style="margin: 0 10px 0 0;">&bull;</span> <span class="balance">${{ user_balance }}</span> <span class="light">&bull;</span> <a href="/logout">Logout</a></li>			
			{% else %}
			<li>Thanks for using Gumroad! <a href="mailto:hi@gumroad.com">Feedback?</a></li>
			{% endif %}
			{% endif %}
		</ul>
	</div>	
	</div>