<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% include "includes/head.html" %}
<body{% if body_id %} id="{{ body_id }}"{% endif %}>
	<div class="top-bar"></div>
	<div id="loading-indicator">Loading...</div>

	<div id="wrapper">
		{% if not hide_header %}
		<div id="header">
			<a href="/"><h1 id="logo">Gumroad</h1></a>

			{% if show_login_link %}
			<p>Have an account? <a href="/login" id="login-link" class="underline">Login</a></p>
			{% else %}
			{% if logged_in %}
			<p id="account-navigation">{% if not on_links_page %}<a href="/links">Your links</a>{% else %}<a href="/home">Home</a>{% endif %} &bull; <span class="balance">${{ user_balance }}</span> &bull; <a href="/settings">Settings</a> &bull; <a href="/logout">Logout</a></p>			
			{% else %}
			<p>Thanks for using Gumroad! <a href="mailto:hi@gumroad.com">Feedback?</a></p>
			{% endif %}
			{% endif %}

			<ul id="navigation" class="hidden">
				<li><a href="#">Tour</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Sign up</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</div>

		<div class="rule"></div>
		{% endif %}
		