{% include "includes/header.html" %}

	<div id="main-wrapper">
	<div id="main">
	
		<h3>About:</h3>
				
		<p>With Gumroad, we want to make accepting payments for digital goods extremely simple. Put simply, it's an astonishingly simple payment system based purely on URLs. If you want, you can think of it like a URL shortener with a pay-wall built into it, but it's much more than that.</p>
		
		<p>We want to be the de-facto way people share anything of value. We're starting with currency, but our vision far exceeds that. There is value in much more than just money &mdash; imagine letting people pay for things with their time or knowledge rather than their wallet. The potential for such a concept is <em>massive</em>.</p>
	
		<p>So far it's just one guy, <a href="http://sahillavingia.com/">me</a>. If you'd like to help me accomplish the above, you should <a href="mailto:hi@gumroad.com">send me an email</a>.</p>
	
	</div>
	</div>

{% include "includes/footer.html" %}