{% include "includes/header.html" %}

	<form id="large-form" action="/settings" method="post">
		{% if show_error %}
		<h3>Your account settings <small class="error">{{ error_message }}</small></h3>
		{% else %}
		<h3>Your account settings <small>a setting you can't change: how awesome you are</small></h3>
		{% endif %}
		<p>
			<label for="name">Full name: </label>
			<input id="name" name="name" type="text" placeholder="Full Name" {% if name %}value="{{ name }}"{% endif %} />
		</p><p>
			<label for="email">Email address: </label>
			<input type="text" placeholder="Email Address" name="email" {% if email_address %}value="{{email_address}}"{% endif %} />
		</p><p>
			<label for="payment_address">PayPal address: </label>
			<input id="payment_address" name="payment_address" type="text" placeholder="PayPal Address" {% if payment_address %}value="{{ payment_address }}"{% endif %} />
		</p><p>
			<button type="submit">Update account details</button>
		</p>
		<div class="rainbow bar"></div>
	</form>

	<p id="below-form-p">&nbsp;</p>

{% include "includes/footer.html" %}

