{% include "includes/header.html" %}

	<div id="main-wrapper">
	<div id="main">
	
		<h3 class="cabin">FAQ:</h3>
		
		<ol>
			<li>
				<h4>What is this built with?</h4>				
				<p>Gumroad is built on top of Google's App Engine and uses a lovely combination of HTML/CSS/Javascript for front-end stuff and Python for back-end stuff. There was no Photoshop involved in the process of building Gumroad - except for the favicon! We use <a href="http://stripe.com/">Stripe</a> for payments and <a href="http://letscrate.com/">Crate</a> for hosting files.</p>
			</li>
			
			<li>
				<h4>What can I charge per link?</h4>				
				<p>Each link must be at least $0.99 and can go up to $999.00 &mdash; you can specify free links too, if you so choose. Free links will redirect automatically and viewers will never hit a payment wall.</p>
			</li>
			
			<li>
				<h4>What is Gumroad's fee?</h4>				
				<p>We have a tiered system for pricing:</p>
				<p><span class="faint">&bull;</span> Below $10/month in sales, we take a 30% cut.</p>
				<p><span class="faint">&bull;</span> Then below $50/month in sales, we take a 25% cut.</p>
				<p><span class="faint">&bull;</span> Then below $200/month in sales, we take a 20% cut.</p>
				<p><span class="faint">&bull;</span> Then below $500/month in sales, we take a 15% cut.</p>
				<p><span class="faint">&bull;</span> On anything about $1000/month in sales, we take a 10% cut.</p>
				<p>We also take $0.30 from each transaction to cover merchant fees.</p>
			</li>

			<li>
				<h4>How do I get paid?</h4>				
				<p>We use PayPal to pay our users. However, we are looking into - and will definitely implement - mailed checks.</p>
			</li>
			
			<li>
				<h4>What's with the name?</h4>				
				<p>I had the domain. No, seriously. I think a lot of people get caught up with thinking about a name and never even end up releasing a product. So I decided I would stick wth a domain I already had and build something. Two days later, I had.</p>
			</li>
			
			<li>
				<h4>Who made Gumroad?</h4>				
				<p>I did. My name's Sahil Lavingia and you can read more about me by clicking that link in the footer. Put simply, I feel like shit when I'm not making stuff. Gumroad is just one of the many things I've built. There's much more to come so you should follow me on <a href="http://twitter.com/slavingia/">Twitter</a> if that interests you.</p>
			</li>
		</ol>
	</div>
	</div>

{% include "includes/footer.html" %}