{% include "includes/header.html" %}
	
	<div id="dashboard">
		{% if show_error %}
		<h3>Earn money from your Flickr photos <small class="error">{{ error_message }}</small></h3>
		{% else %}
		<h3>Earn money from your Flickr photos</h3>
		{% endif %}
		
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		
		<div class="rainbow bar"></div>
	</div>

	<div id="import-grid">
		<ul>
			<li>
				<img src="http://www.sobi.org/photos/Cat/Mottle/OciCatB_004.jpg" />
				<h4>My cat</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</li>
			<li>
				<img src="http://www.sobi.org/photos/Cat/Mottle/OciCatB_004.jpg" />
				<h4>My cat</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</li>
			<li>
				<img src="http://www.sobi.org/photos/Cat/Mottle/OciCatB_004.jpg" />
				<h4>My cat</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</li>
			<li>
				<img src="http://www.sobi.org/photos/Cat/Mottle/OciCatB_004.jpg" />
				<h4>My cat</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</li>
			<li>
				<img src="http://www.sobi.org/photos/Cat/Mottle/OciCatB_004.jpg" />
				<h4>My cat</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</li>
			<li>
				<img src="http://www.sobi.org/photos/Cat/Mottle/OciCatB_004.jpg" />
				<h4>My cat</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</li>
			<li>
				<img src="http://www.sobi.org/photos/Cat/Mottle/OciCatB_004.jpg" />
				<h4>My cat</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</li>
			<li>
				<img src="http://www.sobi.org/photos/Cat/Mottle/OciCatB_004.jpg" />
				<h4>My cat</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</li>
		</ul>
	</div>

{% include "includes/footer.html" %}