{% include "includes/header.html" %}
	
	<form id="large-form" action="/forgot-password" method="post">
		{% if show_error %}
		<h3>Enter your email address <small class="error">{{ error_message }}</small></h3>
		{% else %}
		{% if success_message %}
		<h3>{{success_message}}</h3>
		{% else %}
		<h3>Enter your email address <small>And don't worry about forgetting your password, we do too!</small></h3>
		{% endif %}
		{% endif %}
		<p>
			<input type="text" placeholder="Email Address" name="email" {% if email_address %}value="{{email_address}}"{% endif %} />
			<button type="submit">Send email</button>
		</p>
		<div class="rainbow bar"></div>
	</form>

	<p id="below-form-p">&nbsp;</p>

{% include "includes/footer.html" %}