{% include "includes/header.html" %}

	<div id="main-wrapper">
	<div id="main">
	
		<div id="main-page-form" class="login-form">
			{% if show_error %}
			<h2 class="error">{{ error_message }}</h2>
			{% else %}
				{% if success_message %}
				<h2>{{success_message}}</h2>
				{% else %}
				<h2>Enter in your email:</h2>
				{% endif %}
			{% endif %}			
			<form action="/forgot-password" method="post">
				<p>
					<label for="email">Email address:</label>
					<input name="email" type="text" placeholder="email address" {% if email_address %}value="{{email_address}}"{% endif %} />
				</p>
				<p class="last-p"><button type="submit">Send Email</button></p>
			</form>
		</div>
		
	</div>
	</div>

{% include "includes/footer.html" %}