{% include "includes/header.html" %}
	
	<div id="dashboard">
		{% if show_error %}
		<h3 class="error">{{ error_message }}</h3>
		{% else %}
		<h3>Last {{number_of_days}} day{{s}}</h3>
		{% endif %}
		
		<div class="chart">
		{% if show_chart %}
			<img src="http://chart.apis.google.com/chart?chxr=0,0,{{chart_max}}&chf=bg,s,ffffff&chxt=y&chbh=a&chs=640x225&chco=CC333F,EB6841&cht=bvg&chds=0,{{chart_max}}&chd=t:{{chart_numbers}}" width="640" height="225" />
		{% else %}
		<p>Wait a few days and a chart will show up here!</p>
		{% endif %}
		</div>
		
		<div class="mini-rule"></div>

		<div id="history">
			<h4>History:</h4>
			<p><strong>${{ last_seven_days_purchase_total }}</strong> in the past 7 days.</p>
			<p><strong>${{ last_month_purchase_total }}</strong> in the past month.</p>
			<p><strong>${{ purchase_total }}</strong> in total.</p>
		</div>

		<div class="rainbow bar" id="loading-bar"></div>
	</div>
	
	<p id="below-form-p">&nbsp;</p>

{% include "includes/footer.html" %}

