{% include "includes/header.html" %}

	<div id="main-wrapper">
	<div id="main">
	
		<script type="text/javascript">
		
		$(document).ready(function() {
			
			$("#watch-video-link").fancybox({
		        'autoScale'     	: true,
		        'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'type'				: 'iframe'
			});

			function formatTitle(title, currentArray, currentIndex, currentOpts) {
			    return '<div id="tip7-title"><span><a href="javascript:;" onclick="$.fancybox.close();"><img src="/data/closelabel.gif" /></a></span>' + (title && title.length ? '<b>' + title + '</b>' : '' ) + 'Image ' + (currentIndex + 1) + ' of ' + currentArray.length + '</div>';
			}

		});
		</script>
	
		<div id="intro">
            <ol>                    
                <li><div id="stepone" class="list-number">1</div><h3>Create something.</h3><p>This can be anything. Music, video, audio, a blog post, a quote, anything digital. Really, anything.</p></li> 
                <li><div id="steptwo" class="list-number">2</div><h3>Share it.</h3><p>Just like any other link. Choose your own price. No store, no management. Just <a href="http://gumroad.com/l/hjbaod">a link</a>, for example.</p></li> 
                <li><div id="stepthree" class="list-number">3</div><h3>Make money.</h3><p>That's it! Just keep creating awesome content and we'll keep making it really easy to sell. Deal?</p></li> 
            </ol>
			<p id="watch-video">Don't get it? <a href="http://www.youtube.com/embed/CJqWkcncOuY" class="iframe" id="watch-video-link">Watch a video</a>.</p>
		</div>
		<div id="main-page-form">
			{% if show_error %}
			<h2 class="error">{{ error_message }}</h2>
			{% else %}
			<h2>Start selling in seconds:</h2>
			{% endif %}
			<form action="/" method="post">
				<p><label for="email">Email address:</label>
				<input name="email" type="text" placeholder="email address" {% if email_address %}value="{{email_address}}"{% endif %} />
				<label for="password">Password:</label>
				<input name="password" type="password" placeholder="password" /></p>
				<p class="last-p"><button type="submit">Start Making Money</button></p>
			</form>
		</div>
	</div>
	</div>

{% include "includes/footer.html" %}