{% include "includes/header.html" %}

<script type="text/javascript">

	$(document).ready(function(){
				
		$("#delete_link").click(function(){
			show_confirm();
		});
		
		$(".share_link").click(function(){
			$(".share_link").select();
		});
		
		function show_confirm()
		{
			var r=confirm("Are you sure you want to delete this link? There's no going back!");
			if (r==true) {
				post_to_url('/delete/{{ permalink }}');
			}
		}
		
		function createUploader(){
            var uploader = new qq.FileUploader({
    			element: document.getElementById('file-uploader'),
                action: '/upload',
				sizeLimit: 1024*1024,
                debug: true,
				onSubmit: function(id, fileName){
					$(".qq-upload-button").text("Uploading...");
				},
				onProgress: function(id, fileName, loaded, total){
					$(".qq-upload-button").text("Uploading...");					
				},
				onCancel: function(id, fileName){
					$(".qq-upload-button").text("Upload a file");
				},
				onComplete: function(id, fileName, responseJSON) {	
					$(".qq-upload-button").text("Link added!");
					var url_string = jQuery.parseJSON(responseJSON)['file']['short_url'];
					if (jQuery.parseJSON(responseJSON)['status'] == 'success')
					{
						$('#url').val(url_string);
					} else {
						$(".qq-upload-button").text("Something went wrong.");
					}
				}
            });
        }

        createUploader();

	});

	function popup(url) {
	  window.open(url, 'Share on Twitter', 'height=150,width=550');
	}

	function post_to_url(path, params, method) {
	    method = method || "post";

	    var form = document.createElement("form");
	    form.setAttribute("method", method);
	    form.setAttribute("action", path);

	    for(var key in params) {
	        var hiddenField = document.createElement("input");
	        hiddenField.setAttribute("type", "hidden");
	        hiddenField.setAttribute("name", key);
	        hiddenField.setAttribute("value", params[key]);

	        form.appendChild(hiddenField);
	    }

	    document.body.appendChild(form);
	    form.submit();
	}

</script>

<div id="main-wrapper">
	<div id="main">
		{% include "includes/navigation.html" %}
		<div id="main-body">
			
			{% if editing %}
			<div id="share-box">
			<a href="javascript:window.open(%22http://www.facebook.com/dialog/feed?app_id=114816261931958&redirect_uri=http://gumroad.com/home&display=popup&message=Buy%20{{ url_encoded_name }}%20on%20Gumroad%21&link={{link_to_share}}%22,%22Share%22,%22width=400,height=200,scrollbars=yes%22);" class="facebook button">Share on Facebook</a>
			<p><strong>Link to share:</strong><br /><input type="text" value="{{link_to_share}}" class="share_link" readonly="readonly"></p>
			<a href="javascript:popup(%22http://twitter.com/share?text=Buy%20{{ url_encoded_name }}%20on%20Gumroad%21&via=gumroad&url={{link_to_share}}%22)" class="twitter button">Share on Twitter</a>
			</div>
			
			<div id="analytics-box">
				<p><strong>{{views}}</strong> views <span class="arrow">&rarr;</span> <img src="https://chart.googleapis.com/chart?chf=bg,s,f9f9f9&cht=p&chd=t:{{conversion}},{{hundred_minus_conversion}}&chds=0,100&chs=100x100&chco=777777" height="20" width="20" /> <span>{{conversion}}%</span> <span class="arrow">&rarr;</span> <strong>{{number_of_downloads}}</strong> downloads at &#8776; <strong>{{price}}</strong> <span class="arrow">&rarr;</span> <strong>{{total_profit}}</strong> in profit!</p>
			</div>
			
			{% endif %}
			
			<div id="link-form">
			{% if show_error %}
			<h2 class="cabin error">{{ error_message }}</h2>
			{% else %}
			{% if editing %}
			<a href="#" id="delete_link">delete</a>
			<h2 class="cabin">Edit link:</h2>
			{% else %}			
			<h2 class="cabin">Create a new link:</h2>
			{% endif %}
			{% endif %}
			<form action="/{% if editing %}{{ permalink }}{% else %}add{% endif %}" method="post">
				<p>
					<label for="name">Name:</label>
					<input id="name" name="name" type="text" placeholder="name" {% if name %}value="{{ name }}"{% endif %} />
				</p>
				<p>
					<label for="price">Price:</label>
					<input id="price" name="price" type="text" placeholder="$10" {% if price %}value="{{ price }}"{% endif %} />
				</p>
				<p>
					<label for="url">URL:</label>
					<input id="url" name="url" type="text" placeholder="http://" {% if url %}value="{{ url }}"{% endif %} />
				</p>
				<p>
					<label for="file">or upload a file:</label>
					<span id="file-uploader-wrapper">
					<span id="file-uploader">		
						<noscript>			
							<p>Please enable JavaScript to use file uploader.</p>
						</noscript>         
					</span>
					</span>
				</p>
				<p>
					<label for="description">Description: <span class="faint">(optional)</span></label>
					<textarea id="description" name="description">{% if description %}{{ description }}{% endif %}</textarea>
				</p>
				
				<p class="last-p"><button type="submit">{% if editing %}Edit Link{% else %}Create Link!{% endif %}</button></p>
			</form>
			</div>
		</div>
	</div>
</div>

{% include "includes/footer.html" %}

