{% include "includes/header.html" %}

	<div id="main-wrapper">
	<div id="main">
	
		<div id="main-page-form" class="login-form">
			{% if show_error %}
			<h2 class="cabin error">{{ error_message }}</h2>
			{% else %}
			<h2 class="cabin">Login to your account:</h2>
			{% endif %}			
			<form action="/login" method="post">
				<p>
					<label for="email">Email address:</label>
					<input name="email" type="text" placeholder="email address" {% if email_address %}value="{{email_address}}"{% endif %} />
				</p>
				<p>
					<label for="password">Password:</label>
					<input name="password" type="password" placeholder="password" />
				</p>
				<p class="last-p"><button type="submit">Login</button></p>
			</form>
		</div>
		
	</div>
	</div>

{% include "includes/footer.html" %}