{% include "includes/header.html" %}
	
	<form id="large-form" action="/login" method="post">
		{% if show_error %}
		<h3>Log in to Gumroad <small class="error">{{ error_message }}</small></h3>
		{% else %}
		<h3>Log in to Gumroad <small>Did we tell you we love you?</small></h3>
		{% endif %}
		<p>
			<input type="text" placeholder="Email Address" name="email" {% if email_address %}value="{{email_address}}"{% endif %} />
			<input type="password" placeholder="Password" name="password" />
			<button type="submit">Log in</button>
		</p>
		<div class="rainbow bar"></div>
	</form>

	<p id="below-form-p"><a href="/forgot-password">Forgot your password?</a> We all do.</p>

{% include "includes/footer.html" %}