{% include "includes/header.html" %}

	<form id="large-form" action="/reset-password/{{reset_hash}}" method="post">
		{% if show_error %}
		<h3>Reset your password <small class="error">{{ error_message }}</small></h3>
		{% else %}
			{% if success_message %}
			<h3>{{success_message}}</h3>
			{% else %}
			<h3>Reset your password <small>And don't worry about forgetting your password, we do too!</small></h3>
			{% endif %}
		{% endif %}
		<p>
			<input type="text" placeholder="Email Address" name="email" {% if email_address %}value="{{email_address}}"{% endif %} />
			<input name="password" type="password" placeholder="password" />
			<button type="submit">Reset Password and Login</button>
		</p>
		<div class="rainbow bar"></div>
	</form>

	<p id="below-form-p">&nbsp;</p>

{% include "includes/footer.html" %}