{% include "includes/header.html" %}
	<div id="main-content">
		<h3>Gumroad lets you sell just like you share.</h3>

		<div class="mini-rule"></div>

		<p>There are <strong>{{number_of_links}}</strong> links and counting.</p>
		<p>There are <strong>{{number_of_users}}</strong> users and counting.</p>
		<p>There have been $<strong>{{purchase_total}}</strong> worth of purchases. There are <strong>{{number_of_purchases}}</strong> purchases and counting.</p>
		<p>That's an average of $<strong>{{average_purchase}}</strong> per purchase!</p>
		<p>They've been viewed <strong>{{number_of_views}}</strong> times and downloaded <strong>{{number_of_downloads}}</strong> times.</p>
		<p>That's an average of <strong>{{average_views}}</strong> views and <strong>{{average_downloads}}</strong> downloads per link!</p>
		<p>The last link was added <strong>{{last_link_date}}</strong> ago.</p>
		<p>The last purchase was made <strong>{{last_purchase_date}}</strong> ago.</p>
	</div>
{% include "includes/footer.html" %}